.sticks-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(71, 71, 71);
  height: 50vh;
  margin-top: 100px;
  gap: 1px;
}

.sticks-container-btn {
  border: 1px solid white;
  background-color: black;
  color: white;
  border-radius: 122px;
  font: inherit;
  cursor: pointer;
  border-radius: 5px;
  width: 150px;
  padding: 7px;
  margin: 5px;
  transition: 0.5s;
}

.sticks-container-btn:disabled:hover {
  background-color: black;
}

.sticks-container-btn:hover {
  background-color: rgb(41, 41, 41);
}

.sticks-container-btn:disabled {
  opacity: 0.5;
  cursor: default;
}

.stick {
  background-color: rgb(255, 0, 0);
  height: 120px;
  width: 1%;
}
