.sticks-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(191, 191, 191);
  height: 30vh;
  gap: 1px;
}

.stick {
  background-color: rgb(255, 0, 0);
  height: 120px;
  width: 30px;
}
