#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  color: white;
  border-bottom: 1px solid gray;
}

.slider-container {
  margin: auto;
  width: 30vw;
  display: flex;
  color: white;
  flex-direction: column;
}

.sticks-slider {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 9px;
  background: #d3d3d3;
  outline: none;
  background-color: none;
}

button {
  font: inherit;
  cursor: pointer;

  border-radius: 5px;
  width: 150px;
  padding: 7px;
  margin: 5px;
  transition: 0.5s;
}

button:hover {
  background-color: rgb(41, 41, 41);
}
