#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  color: black;
  border-bottom: 1px solid black;
}

nav a {
  margin-left: auto;
}

.slider-container {
  margin: auto;
  width: 30vw;
  display: flex;
  color: black;
  flex-direction: column;
}

input[type="range"] {
  width: 100%;
  margin: 1.85px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #ffffff;
  border: 2.3px solid #000000;
  border-radius: 25px;
  width: 100%;
  height: 13.3px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -4.15px;
  width: 15px;
  height: 17px;
  background: #000000;
  border: 5px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type="range"]::-moz-range-track {
  background: #ffffff;
  border: 2.3px solid #000000;
  border-radius: 25px;
  width: 100%;
  height: 13.3px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 15px;
  height: 17px;
  background: #000000;
  border: 5px solid #000000;
  border-radius: 5px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 5.95px 0;
  color: transparent;
  width: 100%;
  height: 13.3px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: #ebebeb;
  border: 2.3px solid #000000;
  border-radius: 50px;
}
input[type="range"]::-ms-fill-upper {
  background: #ffffff;
  border: 2.3px solid #000000;
  border-radius: 50px;
}
input[type="range"]::-ms-thumb {
  width: 15px;
  height: 17px;
  background: #000000;
  border: 5px solid #000000;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 0px;
}
